$I3CONFIG
#
# When changing this information, be sure you don't remove the tildes!
# Set autoconnect to 1 to automatically connect at bootup.
# This information can be edited online using 'i3 config'
thismud      ZucchiniMud~
autoconnect  0
telnet       none~
web          none~
adminemail   yami@greengabbro.net~
openstatus   leisurely tinkering, feel free to drop by~
mudtype      Rom~
basemudlib   Rom2.4b6~
mudlib       ZucchiniMud~
driver       ZucchiniMud~
minlevel     10
adminlevel   60
#
# The router information. Currently only one.
# Information below this point cannot be edited online.
router       204.209.44.3~
port         8080
routername   *i4~
#
# The services provided by your mud.
# Do not turn things on unless you KNOW your mud properly supports them!
# Refer to http://www.intermud.org for public packet specifications.
tell         1
beep         1
emoteto      1
who          1
finger       1
locate       1
channel      1
news         0
mail         0
file         0
auth         0
ucache       1
#
# Port numbers for OOB services. Leave as 0 if your mud does not support these.
smtp         0
ftp          0
nntp         0
http         0
pop3         0
rcp          0
amrcp        0
end
$END
