$IMCCONFIG

# IMC2 Freedom CL-2.2 Rom config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      Courgette
Autoconnect    1
MinPlayerLevel 10
MinImmLevel    52
AdminLevel     60
Implevel       60
InfoName       ZucchiniMUD
InfoHost       n/a
InfoPort       4000
InfoEmail      criminy.crickets@gmail.com
InfoWWW        n/a
InfoBase       Rom
InfoDetails    Eat brains.

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     server01.mudbytes.net
ServerPort     5000
ClientPwd      booga
ServerPwd      booga
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         0
End

$END
